@media screen and (max-width: 1399px) {
  header {
    padding: 1.5rem 5rem;
  }

  @media screen and (max-width: 1293px) {
    header {
      flex-direction: column;
      gap: 1rem;
    }

    header .social-search {
      display: none;
    }
  }

  #hero-section .all-contact-box {
    left: 5rem;
    right: 5rem;
  }

  #hero-section .all-contact-box .container {
    padding: 3rem;
  }

  #about-section .about-wrapp {
    padding-inline: 10rem;
  }

  #about-section .about-reviews-container {
    padding: 5rem 5rem 3rem 5rem;
  }

  #about-section .about-community h2 {
    padding: 0 40rem 0 15rem;
  }

  #about-section .about-community .middle-box .about-comm {
    margin: 5rem 5rem 0 50rem;
  }

  #about-section .about-community .middle-box .fa-shield-halved {
    left: 40rem;
  }

  #about-section .services-container {
    padding: 5rem 5rem;
  }

  #about-section .more-info {
    padding: 0rem 25rem;
    padding-bottom: 8rem;
    line-height: 2;
  }

  #about-section .about-medical-care .medical-care-container {
    padding: 5rem 5rem;
  }

  #our-doctor .doctor-container {
    padding: 5rem 0rem;
  }

  #all-intro .intro-container {
    padding: 0 3rem;
  }

  #all-intro .infro-details {
    padding-inline: 3rem;
  }

  #all-intro .infro-details .details-box {
    padding: 2.5rem;
  }

  #all-intro .medical-box {
    padding: 13rem 5rem 5rem;
  }

  #all-intro .medical-box .health-care-btn {
    width: 70rem;
  }

  #stories-dc .stories-wrapp-ct {
    padding: 5rem;
  }

  #booking-help {
    padding: 5rem 5rem;
  }

  #booking-help .booking-contaner {
    padding: 7rem 2rem;
  }

  #blog .blog-container {
    padding: 5rem 5rem;
  }

  footer .ft-container {
    padding: 7rem 4rem;
  }

  footer .ft-second-container {
    padding: 5rem 5rem;
  }
}

@media screen and (max-width: 1199px) {
  header .contact-header {
    gap: 5rem;
  }

  #hero-section .main-hero-container {
    margin: 2rem 2rem;
  }

  #hero-section .main-hero-container .hero-wrapper h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
  }

  #hero-section .health-icon {
    margin-left: 5rem;
  }

  #hero-section .all-contact-box {
    left: 2rem;
    right: 2rem;
  }

  #about-section .about-wrapp {
    padding-inline: 5rem;
  }
  #about-section .about-reviews-container {
    padding: 5rem 2rem 3rem 2rem;
  }

  #about-section .about-community h2 {
    padding: 0 30rem 0 10rem;
  }

  #about-section .about-community .middle-box .about-comm {
    margin: 5rem 5rem 0 30rem;
  }

  #about-section .about-community .middle-box .fa-shield-halved {
    left: 20rem;
  }

  #our-doctor {
    padding: 3rem;
  }

  #all-intro .medical-box .md-box {
    margin: 0 10rem 0 5rem;
  }

  #all-intro .medical-box .health-care-btn {
    width: 50rem;
  }

  #stories-dc .stories-wrapp-ct {
    padding: 3rem;
  }

  #stories-dc .img-dt-container .img-box img {
    display: inline-block;
    width: 25rem;
  }

  #booking-help {
    padding: 5rem 3rem;
  }

  footer .ft-container {
    gap: 3rem;
  }
}

@media screen and (max-width: 1163px) {
  #hero-section .nav-wrapper {
    padding: 1.8rem 5rem;
  }

  #about-section .about-reviews-container {
    gap: 3rem;
    flex-direction: column;
  }

  #about-section .services-container {
    justify-content: center;
  }

  #all-intro .infro-details {
    bottom: 0rem;
    flex-wrap: wrap;
    padding: 6rem 2rem;
  }

  #all-intro .medical-box {
    flex-direction: column;
    gap: 4rem;
    padding: 5rem;
  }

  #all-intro .medical-box .health-care-btn {
    width: 25rem;
    text-align: center;
  }

  #stories-dc .stories-wrapp-ct .stories-left-ct h2 {
    font-size: 3.5rem;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct p {
    font-size: 2.3rem;
  }

  #booking-help {
    flex-direction: column;
  }

  #booking-help .booking-contaner {
    width: 65%;
  }

  #booking-help .help-container {
    width: 100%;
    padding: 2rem 5rem;
  }
}

@media screen and (max-width: 1033px) {
  header {
    display: none;
  }

  #hero-section {
    background-position: 70%;
  }

  #hero-section .ham-box .hemburgar {
    display: initial;
  }

  #hero-section .nav-wrapper .nav-bar-list {
    width:100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.2rem;
    position: fixed;
    left: 0;
    top: 8.8rem;
    flex-direction: column;
    background-color: #73c9e0;
    transition: all 0.3s;
    transform: translateY(-50rem);
    z-index: 100;
  }

  #hero-section .nav-wrapper .nav-bar-list.navout {
    transform: translateX(0rem);
  }

  #hero-section .all-contact-box {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-top: 6rem;
    left: 0;
    right: 0;
  }

  #hero-section .all-contact-box .container {
    width: 100%;
    display: flex;
    padding: 4rem;
  }

  #hero-section .all-contact-box .container:nth-child(1) {
    border-top-left-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }

  #hero-section .all-contact-box .container:nth-child(3) {
    border-top-right-radius: 0rem;
    border-bottom-right-radius: 0rem;
  }

  #about-section .about-wrapp {
    padding-inline: 2rem;
    margin-top: 70rem;
  }

  #about-section .about-community h2 {
    font-size: 3.5rem;
    padding: 0 20rem 0 10rem;
  }

  #about-section .more-info {
    padding: 0rem 15rem;
    padding-bottom: 8rem;
  }

  #all-intro .intro-container {
    padding: 0 2rem;
  }

  #all-intro .intro-left h3 {
    font-size: 3rem;
  }

  #stories-dc .stories-wrapp-ct {
    padding: 2rem;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct .details-stories {
    gap: 2rem;
  }

  #stories-dc
    .stories-wrapp-ct
    .stories-right-ct
    .details-stories
    .dt-st
    .name-dt
    h3 {
    font-size: 1.3rem;
  }

  #booking-help .help-container {
    width: 100%;
    padding: 2rem 3rem;
  }

  #stories-dc .img-dt-container .img-box img {
    width: 22rem;
  }
}

@media screen and (max-width: 920px) {
  #hero-section .main-hero-container .hero-wrapper {
    padding: 1rem;
  }

  #hero-section .health-icon {
    margin-left: 3rem;
  }

  #hero-section .health-icon {
    gap: 2rem;
  }

  #hero-section .health-icon .icon .images {
    width: 7rem;
    height: 7rem;
  }

  #hero-section .health-icon .icon .images img {
    width: 3rem;
  }

  #hero-section .health-icon .icon h2 {
    font-size: 1.2rem;
  }

  #about-section .about-wrapp h2 {
    padding-left: 3rem;
  }

  #about-section .about-wrapp h2 br {
    display: none;
  }

  #about-section .about-wrapp .about-hospital {
    flex-direction: column;
    gap: 2rem;
  }

  #about-section .about-wrapp .about-hospital .left-about {
    width: 100%;
  }

  #about-section .about-wrapp .about-hospital .right-about {
    width: 100%;
  }

  #about-section .bottom-about-container {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  #about-section .bottom-about-container .bottom-inner-box {
    width: 100%;
  }

  #about-section .bottom-about-container .about-img {
    width: 100%;
  }

  #about-section .about-community h2 {
    padding: 0 10rem 0 5rem;
  }

  #about-section .about-community .middle-box .fa-shield-halved {
    left: 10rem;
  }

  #about-section .about-community .middle-box .about-comm {
    margin: 5rem 3rem 0 20rem;
  }

  #our-doctor .doctor-container .od-details .box-upper img {
    width: 100%;
    height: 30rem;
  }

  #our-doctor .doctor-container .od-details .box-down {
    padding: 1rem;
  }

  #our-doctor {
    padding: 2rem;
  }

  #all-intro .intro-container {
    flex-direction: column;
  }

  #all-intro .intro-left {
    width: 100%;
    padding: 3rem 0 0 0;
  }

  #all-intro .intro-right {
    width: 100%;
    margin-top: 2rem;
  }

  #all-intro .intro-right p {
    padding: 0;
  }

  #all-intro .intro-right .infro-box {
    margin-top: 2rem;
  }
  #all-intro .infro-details {
    justify-content: center;
  }

  #all-intro .medical-box {
    padding: 2rem;
  }

  #stories-dc .stories-wrapp-ct {
    flex-direction: column;
    padding: 5rem 2rem;
  }

  #stories-dc .stories-wrapp-ct .stories-left-ct {
    width: 100%;
    text-align: start;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct {
    width: 100%;
  }

  #booking-help .booking-contaner {
    width: 100%;
  }

  #booking-help .booking-contaner .option {
    /* flex-direction: column; */
    margin-block: 1rem;
  }

  #booking-help .booking-contaner .option .select-wrp {
    width: 100%;
  }

  #booking-help .booking-contaner .option .comman1 {
    width: 100%;
  }

  #booking-help .booking-contaner .option .wrap {
    width: 100%;
  }

  #booking-help .help-container {
    width: 100%;
    padding: 2rem 0rem;
  }

  #blog .blog-container {
    padding: 5rem 2rem;
  }

  #blog .blog-container .blog-box .blog-ds {
    padding: 0 1rem 5rem 0;
  }

  #blog .blog-container .blog-box .blog-ds h2 {
    font-size: 1.8rem;
  }

  footer .ft-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  footer .ft-second-container {
    flex-direction: column;
    gap: 2rem;
  }

  footer .ft-second-container {
    padding: 3rem 2rem;
  }
}

@media screen and (max-width: 808px) {
  #hero-section .main-hero-container .hero-wrapper h1 {
    font-size: 4.5rem;
  }
  #about-section .about-community h2 {
    padding: 0 3rem;
  }

  #about-section .about-community .middle-box .fa-shield-halved {
    left: 0rem;
  }

  #about-section .about-community .middle-box .about-comm {
    margin: 5rem 3rem 0 8rem;
  }

  #about-section .more-info {
    padding: 0rem 8rem;
    padding-bottom: 8rem;
  }

  #about-section .services-container {
    justify-content: space-between;
  }

  #our-doctor .doctor-container {
    flex-direction: column;
  }

  #our-doctor .doctor-container .od-details {
    width: 100%;
    height: 100%;
  }

  #our-doctor .doctor-container .od-details .box-upper img {
    width: 100%;
    height: 100%;
  }

  #our-doctor .doctor-container .od-details .box-down {
    padding: 3rem 0 0 0;
  }

  #blog {
    padding: 5rem 0;
  }

  #blog .blog-container {
    flex-direction: column;
  }

  #blog .blog-container .blog-box {
    width: 100%;
  }

  #blog .blog-container {
    padding: 2rem 2rem;
  }
}

@media screen and (max-width: 709px) {
  #hero-section {
    background-position: left;
  }

  #hero-section .main-hero-container {
    width: 100%;
    margin: 0;
  }

  #hero-section .main-hero-container .hero-wrapper {
    padding: 2rem;
  }

  #hero-section .health-icon {
    width: 100%;
    margin: 0;
    padding: 2rem;
  }
}

@media screen and (max-width: 670px) {
  html {
    font-size: 60%;
  }

  #hero-section .nav-wrapper {
    padding: 1.8rem 3rem;
}

  #about-section .about-wrapp h2 {
    font-size: 3rem;
  }

  #about-section .services-container .srv-box {
    width: 100%;
  }

  #about-section .about-community {
    padding: 2rem;
  }

  #about-section .about-community h2 {
    font-size: 3rem;
    padding: 0 2rem;
  }

  #about-section .about-community .middle-box .about-comm {
    margin: 5rem 2rem 0 7rem;
  }

  #about-section .about-community .middle-box .about-comm p {
    font-size: 1.8rem;
  }

  #about-section .about-medical-care h2 {
    font-size: 3rem;
  }

  #all-intro .infro-details {
    flex-direction: column;
  }

  #all-intro .infro-details .details-box {
    width: 100%;
  }

  #our-doctor h2 {
    font-size: 1.5rem;
  }

  #booking-help .booking-contaner .option {
    flex-direction: column;
    margin-block: 1.5rem;
}
}

@media screen and (max-width: 540px) {
  #hero-section .nav-wrapper {
    padding: 1.8rem 2rem;
  }

  #about-section .about-reviews-container h3 {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  #about-section .about-reviews-container h3 a {
    word-wrap: break-word;
  }

  #about-section .about-reviews-container .about-rate-box {
    flex-direction: column;
    justify-content: flex-start;
  }

  #all-intro .medical-box {
    padding: 2rem 0;
  }

  #all-intro .medical-box .md-box h2 {
    font-size: 2.2rem;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct p {
    font-size: 2rem;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct .details-stories {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct .details-stories .dt-st {
    display: initial;
    text-align: center;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct .details-stories .dt-st img {
    width: 10rem;
    height: 10rem;
  }

  #our-doctor .doctor-container .od-details:hover .box-upper img {
    transform: none;
    border-radius: 0;
  }

  #our-doctor .doctor-container .od-details:hover {
    box-shadow: none;
  }

  #our-doctor .doctor-container .od-details .box-down {
    padding: 3rem 0 2rem 0;
  }

  #our-doctor .doctor-container .od-details .bottom-line {
    position: absolute;
    bottom: 0;
    margin: 0 2rem;
    width: 90%;
    height: 0.2rem;
    background-color: #03c99d;
  }

  #our-doctor .doctor-container .od-details .box-down .od-wrap .doctor-media {
    display: flex;
    align-items: center;
    gap: 2rem;
  }

  #our-doctor .doctor-container .od-details .box-down .od-wrap .read {
    background-color: var(--second-main-color);
    padding: 0.8rem 1.5rem;
    border-radius: 50rem;
    color: var(--font-color-2);
  }
}

@media screen and (max-width: 508px) {
  #hero-section .apm-btn {
    /* display: none; */
  }

  #about-section .about-wrapp h2 br {
    display: none;
  }
  #about-section .more-info {
    padding: 0rem 5rem;
    padding-bottom: 8rem;
  }

  #about-section .about-medical-care h2 br {
    display: none;
  }

  #about-section .about-community h2 {
    font-size: 2.5rem;
  }

  #about-section .about-wrapp .about-hospital .left-about .box1 {
    padding-inline: 1rem;
  }
  #our-doctor h2 br {
    display: none;
  }

  #our-doctor .doctor-container .od-details .box-upper {
    width: 80%;
    margin: 0 auto;
  }

  #booking-help .help-container h2 {
    font-size: 3.5rem;
  }

  footer .ft-second-container .sd-box {
    flex-direction: column;
    gap: 2rem;
  }
}

@media screen and (max-width: 450px) {
  #appointment-popup .ap-wrapp {
    width: 35rem;
}
}

@media screen and (max-width: 404px) {
 

  #hero-section .nav-wrapper .nav-bar-list {
   
    top:7.5rem;
    
  }

  #hero-section .nav-wrapper .logo-hero img {
    width: 4.5rem;
  }

  #hero-section .health-icon {
    flex-wrap: wrap;
    gap: 4rem;
    justify-content: space-between;
    padding: 0 5rem;
  }

  #hero-section .health-icon .icon .images {
    width: 9rem;
    height: 9rem;
  }
  #hero-section .health-icon .icon .images img {
    width: 4rem;
  }

  #hero-section .health-icon .icon .images.img1 {
    margin-left: 0rem;
  }

  #hero-section .main-hero-container .hero-wrapper h1 {
    font-size: 4rem;
  }

  #hero-section .main-hero-container .hero-wrapper p {
    font-size: 1.5rem;
  }

  #hero-section .all-contact-box .container {
    padding: 2rem;
  }

  #about-section .about-wrapp {
    margin-top: 60rem;
  }

  #about-section .about-wrapp h2 {
    font-size: 2.5rem;
    padding-left: 1rem;
  }

  #about-section .about-wrapp h2 br {
    display: none;
  }

  #about-section .about-wrapp .about-hospital .left-about .box1 {
    padding-inline: 1rem;
  }

  #about-section .about-medical-care {
    padding-top: 5rem;
  }
  #about-section .about-medical-care h2 {
    font-size: 2.2rem;
  }

  #about-section .about-medical-care h2 br {
    display: none;
  }

  #about-section .about-reviews-container h3 {
    font-size: 1.5rem;
    line-height: 1.8;
  }

  #about-section .about-medical-care h4 {
    font-size: 1.5rem;
  }

  #about-section .about-medical-care h2 br {
    display: none;
  }

  #about-section .about-medical-care .medical-care-container {
    padding: 5rem 2rem;
  }

  #about-section
    .about-medical-care
    .medical-care-container
    .all-box-cover
    .care-box {
    background-color: var(--background-color);
    width: 38rem;
    /* padding: 3rem 5rem 0 5rem; */
  }

  #about-section .services-container {
    padding: 5rem 2rem;
  }

  #about-section .about-community h2 {
    font-size: 2.3rem;
    padding: 0 0rem;
  }

  #about-section .about-community .middle-box .about-comm {
    margin: 2rem 0rem 0 0rem;
  }

  #about-section .about-community .middle-box .fa-shield-halved {
    position: absolute;
    left: 10rem;
    font-size: 10rem;
    z-index: 0;
  }

  #about-section .about-community .middle-box .about-comm p {
    position: relative;
    font-size: 1.5rem;
    z-index: 5;
  }

  #about-section .more-info {
    padding: 0rem 2rem;
    padding-bottom: 5rem;
  }

  #about-section .bottom-about-container .bottom-inner-box .about-doctor {
    gap: 2rem;
  }

  #our-doctor h2 br {
    display: none;
  }

  #all-intro .intro-right .infro-box {
    flex-direction: column;
    gap: 0;
  }

  #all-intro .intro-left h3 {
    font-size: 2.5rem;
  }

  #all-intro .medical-box .md-box {
    padding: 1rem;
    margin: 0;
  }

  #stories-dc .stories-wrapp-ct .stories-right-ct p {
    font-size: 1.6rem;
  }

  #booking-help {
    padding: 5rem 1rem;
  }

  #booking-help .help-container h2 {
    font-size: 3rem;
  }

  #blog .blog-container .blog-box:hover .image-wrap img {
    transform: none;
  }

  #blog .blog-container .blog-box .blog-ds .btn5 {
    background-color: var(--font-color);
    color: var(--font-color-2);
    padding: 1rem 1.8rem;
    border-radius: 2rem;
  }

  footer .ft-container {
    padding: 7rem 2rem;
  }
}
