#container-shop{
    background-image: url(../images/shop-banner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-block: 8rem;
}

#container-shop h2{
 font-size: 5rem;
 color: var( --font-color);
}

#container-shop a{
    color: #C62300;
    display: inline-block;
    margin-top: 3rem;
    font-size: 2rem;
    font-weight: 500;
}

#container-shop a:hover{
    color: var( --font-color);

}

#container-shop a i{
    margin-right: 1rem;
}