@media screen and (max-width: 1231px) {
  #product-container .all-p-wrapp {
    padding: 10rem 2rem;
  }
}

@media screen and (max-width: 960px) {
  #product-container .search-p {
    padding: 2rem 3rem;
  }

  #product-container .search-p .input-wrapp {
    display: flex;
    width: initial;
  }
}

@media screen and (max-width: 567px) {
  #container-shop {
    padding-block: 5rem;
  }
 

  #product-container .search-p img {
    width: 6rem;
}

  #product-container .all-p-wrapp {
    padding: 8rem 2rem;
  }

  #product-container .search-p {
    position: relative;
  }

  #product-container .search-p .input-wrapp {
    display: none;
  }

  #product-container .input-wrap-p {
    display: flex;
  }

  #product-container .search-p .input-wrapp input {
    border: 1px solid var(--main-color);
  }

  #product-container .all-p-wrapp {
    justify-content: center;
  }

  #product-container .p-box {
    max-width: 350px;
    width: 100%;
  }

  #product-container .p-box:hover::before {
    backdrop-filter:none;
  }
}

@media screen and (max-width: 360px) {
  #container-shop h2 {
    font-size: 4rem;
  }

  #container-shop a {
    margin-top: 2rem;
    font-size: 1.8rem;
  }

  #product-container .search-p {
    padding: 1.7rem 2rem;
}

  #product-container .input-wrap-p .input-p input {
    width: 20rem;
  }

  #product-container .all-p-wrapp {
    padding: 5rem 2rem;
}

#product-container .p-box {
  max-width: 250px;
  width: 100%;
}
}

@media screen and (max-width: 300px){

  #product-container .search-p img {
    width: 5rem;
}
#product-container .search-p a i {
  font-size: 2.5rem;
}

  #product-container .input-wrap-p .input-p input {
    width: 15rem;
  }
  #product-container .input-wrap-p  .input-p input {
    padding: 0.5rem 1rem;
}
}