* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

:root {
  --main-color: #283b6a;
  --second-main-color: #21cdc0;
  --font-color: #0e204d;
  --font-color-2: #fff7e7;
  --font-color-3: #fffaf0;
  --font-color-3: #848e9f;
  --background-color: #ffffff;
}

html {
  font-size: 62.5%;
  
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
 body{
  position: relative;
 }
/* ==== btn styling ==== */
.btn {
  color: var(--font-color-2);
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  border-radius: 50rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

/* ===== side arrow styling ===== */
 
#side-arrow{
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  background-color: var(--second-main-color);
  font-size: 2rem;
  color: var(--font-color-2);
  padding: 1rem 1.8rem;
  border-radius: 50rem;
  transition: all 0.3s;
}

#side-arrow:hover{
  background-color: var(--font-color);
}

/* ===== header styling ===== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
  background-color: var(--main-color);
}

header .contact-header p {
  background-color: var(--background-color);
  font-size: 1.3rem;
  padding: 0rem 1.5rem;
  border-radius: 1rem;
}

header .contact-header {
  display: flex;
  gap: 2rem;
}

header .contact-header a {
  font-size: 1.2rem;
  color: var(--font-color-2);
  cursor: default;
}

header .contact-header a:hover span {
  color: var(--second-main-color);
  cursor: pointer;
}

header .contact-header a i {
  margin-right: 0.8rem;
  color: var(--font-color-3);
}

header .social-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
header .social-search .follow {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .social-search .follow a {
  display: flex;
  align-items: center;
  background-color: var(--second-main-color);
  border-radius: 50rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

header .social-search .follow a:hover {
  transform: translateY(-0.3rem);
}
header .social-search .follow i {
  font-size: 1.4rem;
  color: var(--main-color);
  cursor: pointer;
}

header .search input {
  background-color: var(--main-color);
  border: none;
  font-size: 1.5rem;
  color: var(--font-color-2);
  padding: 0.5rem 1.5rem;
  border-left: 1px solid var(--font-color-2);
}

header .search input:focus {
  outline: none;
}

header .search .search-glass {
  font-size: 1.8rem;
  color: var(--font-color-2);
  cursor: pointer;
}

/* ====== hero section styling ====== */

/* ======  nav bar styling ====== */
#hero-section {
  background-image: url("images/hero-section-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 13rem;
  position: relative;
}

#hero-section .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 10rem;
}

#hero-section .nav-wrapper .logo-hero {
  display: flex;
  align-items: center;
}

#hero-section .nav-wrapper .logo-hero img {
  width: 8rem;
}

#hero-section .nav-wrapper .logo-hero h2 {
  font-size: 2rem;
  margin-left: 1rem;
  color: var(--font-color);
}

#hero-section .nav-wrapper .logo-hero h2 span {
  color: #C10224;
}

#hero-section .nav-wrapper .nav-bar-list {
  display: flex;
  gap: 3rem;
}

#hero-section .nav-wrapper .nav-bar-list a {
  color: var(--font-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.2s;
}

#hero-section .nav-wrapper .nav-bar-list a:hover {
  color: var(--main-color);
}

#hero-section .nav-wrapper .btn.apm-btn {
  background-color: var(--second-main-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  transition: all 0.3s linear;
}

#hero-section .nav-wrapper .btn.apm-btn i {
  margin-right: 0.8rem;
}

#hero-section .nav-wrapper .btn.apm-btn:hover {
  background-color: var(--main-color);
}

/* ====== home  styling ====== */

#hero-section .main-hero-container {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2rem 6rem;
}

#hero-section .main-hero-container .hero-wrapper {
  padding: 4rem;
}

#hero-section .main-hero-container .hero-wrapper h1 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--font-color);
}

#hero-section .main-hero-container .hero-wrapper p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-color);
}

/* ====== helath icon styling ====== */
#hero-section .health-icon {
  width: 50%;
  display: flex;
  gap: 4rem;
  margin-left: 10rem;
  cursor: pointer;
}

#hero-section .health-icon .icon {
  text-align: center;
}

#hero-section .health-icon .icon .images {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  width: 8rem;
  height: 8rem;
  background-color: #a1dee5;
  transition: all 0.3s ease;
}
#hero-section .health-icon .icon .images:hover {
  transform: translateY(-1rem);
  border: 1px solid #4d4b4b;
}

#hero-section .health-icon .icon .images.img1 {
  margin-left: 1.3rem;
}

#hero-section .health-icon .icon .images img {
  width: 5rem;
}

#hero-section .health-icon .icon h2 {
  color: var(--main-color);
  padding-top: 1.5rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}

#hero-section .health-icon .icon h2:hover {
  color: var(--font-color-3);
}

/* ====== All contact box styling ====== */

#hero-section .all-contact-box {
  display: flex;
  position: absolute;
  margin-top: 6rem;
  left: 15rem;
  right: 15rem;
}

#hero-section .all-contact-box .container {
  width: 40rem;
  display: flex;
  padding: 4rem;
}

#hero-section .all-contact-box .container:nth-child(1) {
  background-color: #21cdc0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#hero-section .all-contact-box .container:nth-child(2) {
  background-color: #3851a2;
}

#hero-section .all-contact-box .container:nth-child(3) {
  background-color: #2d4990;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

#hero-section .all-contact-box .container .left-box i {
  font-size: 5rem;
  color: var(--font-color-2);
}

#hero-section .all-contact-box .container .right-box {
  margin-left: 3rem;
}

#hero-section .all-contact-box .container .right-box h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--font-color-2);
}

#hero-section .all-contact-box .container .right-box p {
  padding-block: 1.3rem;
  font-size: 1.5rem;
  color: var(--font-color-2);
}
#hero-section .all-contact-box .container .right-box h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--font-color-2);
  cursor: pointer;
}

#hero-section .all-contact-box .container .right-box h3 i {
  margin-right: 0.5rem;
  background-color: #1ebaae;
  padding: 0.8rem;
  border-radius: 50rem;
}

#hero-section .all-contact-box .container .right-box h3 i:hover {
  color: var(--font-color-3);
}

#hero-section .all-contact-box .container .right-box .time-table {
  border-bottom: 1px solid var(--font-color-2);
}

#hero-section .all-contact-box .container .right-box .time-table p span {
  margin-left: 3rem;
}

#hero-section .btn.time-btn {
  background-color: #3851a2;
  color: var(--font-color-2);
  border: 1px solid var(--font-color-2);
  padding: 1rem 2rem;
  font-weight: 600;
}

#hero-section .btn.time-btn:hover {
  background-color: var(--background-color);
  color: var(--font-color);
}

#hero-section .btn.time-btn i {
  margin-left: 0.5rem;
}

/* ====== about section styling ====== */

#about-section {
  background-color: var(--background-color);
}

#about-section .about-wrapp {
  margin-top: 30rem;
  padding-inline: 18rem;
}

#about-section .about-wrapp h2 {
  padding-left: 10rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--font-color);
}

#about-section .about-wrapp .about-hospital {
  margin-top: 5rem;
  display: flex;
}

#about-section .about-wrapp .about-hospital .left-about {
  display: flex;
  width: 40%;
}

#about-section .about-wrapp .about-hospital .left-about .doctor-1 {
  font-size: 5rem;
  color: var(--second-main-color);
}

#about-section .about-wrapp .about-hospital .left-about .box1 {
  padding-inline: 5rem;
}

#about-section .about-wrapp .about-hospital .left-about .box1 p {
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 500;
}

#about-section .about-wrapp .about-hospital .left-about .box1 .btn.about-btn {
  background-color: var(--font-color);
  color: var(--font-color-2);
  padding: 1.8rem 2.5rem;
  margin-top: 3rem;
  transition: all 0.3s ease;
}

#about-section
  .about-wrapp
  .about-hospital
  .left-about
  .box1
  .btn.about-btn:hover {
  background-color: var(--second-main-color);
}

#about-section .about-wrapp .about-hospital .left-about .box1 .btn.about-btn i {
  margin-left: 1rem;
}

#about-section .about-wrapp .about-hospital .right-about {
  width: 60%;
}

#about-section .about-wrapp .about-hospital .right-about p {
  font-size: 1.5rem;
  color: var(--main-color);
}

#about-section .bottom-about-container {
  display: flex;
  justify-content: space-between;
  margin-top: 6rem;
}

#about-section .bottom-about-container .about-img {
  width: 40%;
}

#about-section .bottom-about-container .about-img img {
  width: 100%;
}

#about-section .bottom-about-container .bottom-inner-box {
  width: 50%;
}

#about-section .bottom-about-container .bottom-inner-box .about-doctor {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-bottom: 2rem;
}

#about-section .bottom-about-container .bottom-inner-box .about-doctor i {
  color: var(--second-main-color);
  font-size: 2rem;
}

#about-section .bottom-about-container .bottom-inner-box .about-doctor p {
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--main-color);
}

#about-section .about-medical-care {
  padding-top: 10rem;
  background-color: #e7f6f5;
}

#about-section .about-medical-care h4 {
  text-align: center;
  font-size: 1.7rem;
  color: var(--main-color);
}

#about-section .about-medical-care h2 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--font-color);
  margin-top: 2rem;
}

#about-section .about-medical-care .medical-care-container {
  width: 100%;
  padding: 5rem 10rem;
}

#about-section .about-medical-care .medical-care-container .all-box-cover {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  overflow: hidden;
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box {
  background-color: var(--background-color);
  width: 40rem;
  padding: 3rem 5rem 0 5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 1rem;
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box.side {
  transform: translateX(-rem);
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box
  .care-icon {
  font-size: 8.5rem;
  color: var(--font-color);
  transition: all 0.3s ease;
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box:hover
  .care-icon {
  transform: rotateY(360deg);
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box
  h3 {
  font-size: 2.5rem;
  color: var(--font-color);
  text-transform: capitalize;
  margin-block: 1.8rem;
  transition: all 0.3s ease;
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box
  h3:hover {
  color: var(--second-main-color);
  cursor: pointer;
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box
  p {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--main-color);
  line-height: 1.8;
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box
  .care-opsen {
  display: flex;
  align-items: center;
  margin-block: 2.5rem;
}

#about-section
  .about-medical-care
  .medical-care-container
  .all-box-cover
  .care-box
  .care-opsen
  h5 {
  font-size: 1.5rem;
  margin-left: 1.2rem;
  color: var(--main-color);
}

#about-section
  .about-medical-care
  .medical-care-container
  .care-box
  .care-opsen
  .fa-check {
  color: var(--second-main-color);
  font-size: 2rem;
}

#about-section
  .about-medical-care
  .medical-care-container
  .care-box
  .medical-btn {
  border: 1px solid var(--font-color);
  color: var(--font-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  transition: all 0.3s ease;
}

#about-section
  .about-medical-care
  .medical-care-container
  .care-box
  .medical-btn:hover {
  background-color: var(--second-main-color);
  border: 1px solid var(--second-main-color);
  color: var(--font-color-2);
}

#about-section .about-medical-care .medical-care-container .care-box .row {
  width: 30rem;
  height: 0.4rem;
  background-color: var(--font-color);
  margin-top: 5rem;
  transition: all 0.3s ease;
}

#about-section
  .about-medical-care
  .medical-care-container
  .care-box:hover
  .row {
  background-color: var(--second-main-color);
}

#about-section .about-medical-care .medical-care-container .slider-box {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

#about-section .about-medical-care .medical-care-container .slider-box .button {
  width: 1rem;
  height: 1rem;
  border-radius: 50rem;
  background-color: var(--font-color);
  cursor: pointer;
}

#about-section
  .about-medical-care
  .medical-care-container
  .slider-box
  .button:active {
  background-color: var(--second-main-color);
}

#about-section .about-reviews-container {
  /* margin-top: 3rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5rem 15rem 3rem 15rem;
  border-top: 0.1rem solid var(--font-color-3);
}

#about-section .about-reviews-container h3 {
  font-size: 1.3rem;
  color: var(--font-color-3);
}

#about-section .about-reviews-container h3 .file-i {
  color: var(--second-main-color);
}

#about-section .about-reviews-container h3 a {
  color: var(--font-color);
}

#about-section .about-reviews-container .about-rate-box {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#about-section .about-reviews-container .about-rate-box h2 {
  font-size: 4rem;
  color: var(--main-color);
}

#about-section .about-reviews-container .about-rate-box .rate-inner-box strong {
  text-decoration: underline;
  font-size: 1.5rem;
  color: var(--main-color);
}

#about-section .about-reviews-container .about-rate-box .rate-inner-box span {
  font-size: 1.2rem;
  color: var(--font-color-3);
}

#about-section .about-reviews-container .about-rate-box .btn.rate-btn {
  background-color: var(--second-main-color);
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1.3rem 2.5rem;
  transition: all 0.3s ease;
}

#about-section .about-reviews-container .about-rate-box .btn.rate-btn:hover {
  background-color: var(--font-color);
}

#about-section .about-community {
  padding: 5rem;
  background-color: var(--second-main-color);
}

#about-section .about-community h2 {
  color: var(--font-color-2);
  font-size: 4rem;
  font-weight: 500;
  padding: 0 45rem 0 20rem;
}

#about-section .about-community .middle-box {
  position: relative;
}

#about-section .about-community .middle-box .fa-shield-halved {
  position: absolute;
  left: 60rem;
  font-size: 6rem;
  color: #35fff0;
}

#about-section .about-community .middle-box .about-comm {
  margin: 5rem 5rem 0 70rem;
}

#about-section .about-community .middle-box .about-comm p {
  font-size: 2rem;
  color: var(--font-color-2);
}

#about-section .about-community .middle-box .about-comm .value {
  margin-top: 1.2rem;
}

#about-section .about-community .middle-box .about-comm .value .fa-arrow-right {
  font-size: 1.8rem;
  color: var(--second-main-color);
  background-color: var(--background-color);
  padding: 0.5rem 0.6rem;
  border-radius: 50rem;
}

#about-section .about-community .middle-box .about-comm .value a {
  margin-left: 1rem;
  font-size: 1.5rem;
  color: var(--font-color-2);
}

#about-section .services-container {
  background-color: var(--second-main-color);
  padding: 5rem 21rem;
  display: flex;
  /* justify-content: space-between; */
  gap: 3rem;
  flex-wrap: wrap;
}

#about-section .services-container .srv-box {
  position: relative;
  width: 25rem;
  background-color: var(--background-color);
  padding: 4rem;
  border-radius: 1rem;
}

#about-section .services-container .srv-box img {
  display: none;
}

#about-section .services-container .srv-box:hover img {
  display: flex;
  position: absolute;
  width: 100%;
  left: 0;
  top: -7rem;
}

#about-section .services-container .srv-box i {
  font-size: 5rem;
  color: var(--second-main-color);
}

#about-section .services-container .srv-box h2 {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--font-color);
}

#about-section .services-container .srv-box .fa-arrow-right {
  display: none;
}

#about-section .services-container .srv-box:hover .fa-arrow-right {
  display: initial;
  cursor: pointer;
  position: absolute;
  bottom: -1rem;
  left: 4rem;
  font-size: 1.5rem;
  background-color: var(--font-color);
  color: var(--font-color-2);
  padding: 0.5rem 0.7rem;
  border-radius: 50%;
}

#about-section .more-info {
  background-color: var(--second-main-color);

  padding: 0rem 50rem;
  padding-bottom: 8rem;
}

#about-section .more-info h3 {
  font-size: 1.5rem;
  color: var(--font-color-2);
}

#about-section .more-info h3 a {
  color: var(--font-color);
}

/* ====== our doctor section styling ======== */

#our-doctor {
  background-color: var(--background-color);
  padding: 8rem;
}

#our-doctor h4 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--font-color);
  margin-top: 2rem;
}

#our-doctor h2 {
  margin-top: 1.5rem;
  text-align: center;
  font-size: 1.7rem;
  font-weight: 500;
  color: var(--font-color-3);
}

#our-doctor .doctor-container {
  padding: 5rem 8rem;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#our-doctor .doctor-container .od-details {
  width: 35rem;
  height: 63rem;
  border-radius: 1rem;
  position: relative;
}

#our-doctor .doctor-container .od-details:hover{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

}

#our-doctor .doctor-container .od-details:hover .bottom-line
{
  position: absolute;
  bottom: 0;
  margin: 0 2rem;
  width: 90% ;
  height: 0.2rem;
  background-color: #03c99d;
}


#our-doctor .doctor-container .od-details .box-upper {
  width: 100%;
  height: 50%;
  overflow: hidden;
  border-radius: 1.8rem;
}

#our-doctor .doctor-container .od-details .box-upper img {
  width: 100%;
  height: 40rem;
  transition: all 0.5s;
  cursor: pointer;
}

#our-doctor .doctor-container .od-details:hover .box-upper img {
  transform: scale(1.1);
  border-radius: 1rem;
}

#our-doctor .doctor-container .od-details .box-down {
  padding: 3rem;
}

#our-doctor .doctor-container .od-details .box-down h3 {
  font-size: 2rem;
  font-weight: 600;
  color: var(--font-color);
  transition: all 0.2s;
}

#our-doctor .doctor-container .od-details .box-down h3:hover {
  color: var(--second-main-color);
  cursor: pointer;
}

#our-doctor .doctor-container .od-details .box-down span {
  display: inline-block;
  color: var(--second-main-color);
  font-size: 1.5rem;
  padding: 1rem 0;
  cursor: pointer;
}

#our-doctor .doctor-container .od-details .box-down p {
  font-size: 1.4rem;
  color: var(--font-color-3);
}

#our-doctor .doctor-container .od-details .box-down .od-wrap {
  display: flex;
  align-items: center;
}
#our-doctor .doctor-container .od-details .box-down .od-wrap .read {
  display: inline-block;
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 600;
  margin: 2rem 0;
  transition: all 0.5s;
}

#our-doctor .doctor-container .od-details:hover .box-down .od-wrap .read {
  background-color: var(--second-main-color);
  padding: 0.8rem 1.5rem;
  border-radius: 50rem;
  color: var(--font-color-2);
}

#our-doctor .doctor-container .od-details .box-down .od-wrap .doctor-media {
  display: none;
  margin-left: 1.8rem;
}

#our-doctor
  .doctor-container
  .od-details:hover
  .box-down
  .od-wrap
  .doctor-media {
  display: flex;
  align-items: center;
  gap: 2rem;
}

#our-doctor .doctor-container .od-details .box-down .od-wrap .doctor-media a i {
  font-size: 2.5rem;
  color: var(--font-color);
}

#our-doctor
  .doctor-container
  .od-details
  .box-down
  .od-wrap
  .doctor-media
  a
  i:hover {
  color: var(--second-main-color);
}


/* =========== introduction section stylindg ============ */

#all-intro{
  /* width: 100%; */
  background-color: #203253;

}

#all-intro .intro-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 12rem;
}

#all-intro .intro-left{
  width: 50%;
  padding:0 4rem;

}

#all-intro .intro-left h2{
  color: var(--second-main-color);
}

#all-intro .intro-left h3{
  margin-top: 1.3rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--font-color-2);
}

#all-intro .intro-right{
  width: 50%;
  margin-top: 7rem;
}

#all-intro .intro-right p{
  padding: 7rem 2rem 0 0;
    color: var(--font-color-2);
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.7;
}

#all-intro .intro-right .infro-box{
  display: flex;
  gap: 2rem;
  margin-top:5rem;
}

#all-intro .intro-right .infro-box h4{
 color: var(--font-color-2);
 font-size: 1.5rem;
 margin-top: 1rem;
}

#all-intro .intro-right .infro-box h4 i{
  font-size: 1.3rem;
  padding: 0.3rem 0.4rem;
  border-radius: 50rem;
  margin-right: 1rem;
  background-color: var(--second-main-color);
}


#all-intro .infro-details{
  position: relative;
  bottom: -5rem;
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  padding-inline:12rem ;
}

#all-intro .infro-details .details-box{
  width: 30rem;
  border-radius: 1rem;
  background-color: var(--background-color);
  padding: 3rem ;
  transition: all 0.3s;
}

#all-intro .infro-details .details-box:hover{
  transform: translateY(-2rem);
}

#all-intro .infro-details .details-box .file {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#all-intro .infro-details .details-box .file i{
 font-size: 5rem;
 color: var(--main-color);
 transition: all 0.3s;
}

#all-intro .infro-details .details-box:hover .file i{
  color: var(--second-main-color);
}

#all-intro .infro-details .details-box .file span {
  color: var(--font-color-3);
  font-size: 8rem;
  font-weight: 700;
}

#all-intro .infro-details .details-box h2{
  font-size: 2rem;
  color: var(--font-color);
}

#all-intro .infro-details .details-box p{
  margin-block: 2rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-transform: capitalize;
  color: var(--font-color-3);
}

#all-intro .infro-details .details-box a{
  color: var(--font-color);
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
  cursor: pointer;
  transition: all 0.3s;
}

#all-intro .infro-details .details-box a:hover{
  color: var(--second-main-color);
}

#all-intro .infro-details .details-box a i{
  margin-left: 0.5rem;
}

#all-intro .medical-box{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  background-color: #3851A2;
  padding: 13rem 15rem 5rem;
}

#all-intro .medical-box .fa-hospital{
  font-size: 12rem;
  color: #4C63AB;
}
#all-intro .medical-box .md-box {
  margin: 0 30rem  0 5rem;
}

#all-intro .medical-box .md-box h2 {
 font-size: 2.5rem;
 color: var(--font-color-2);
}

#all-intro .medical-box .md-box p{
  font-size: 1.5rem;
  color: var(--font-color-2);
}

#all-intro .medical-box .health-care-btn{
  font-size: 1.5rem;
  background-color: var(--second-main-color);
  padding: 1.3rem 2.2rem;
  width:55rem ;
  transition: all 0.3s;
}

#all-intro .medical-box .health-care-btn:hover{
  background-color: var(--font-color);
}

#stories-dc .stories-wrapp-ct{
  padding: 10rem;
display: flex;
gap: 2rem;
}

#stories-dc .stories-wrapp-ct .stories-left-ct{
  text-align: center;
  width: 40%;
}

#stories-dc .stories-wrapp-ct .stories-left-ct h2{
  font-size: 4rem;
  color: var(--font-color);
}

#stories-dc .stories-wrapp-ct .stories-right-ct{
  width: 60%;
  text-align: start;
}

#stories-dc .stories-wrapp-ct .stories-right-ct p{
  font-size: 2.7rem;
  font-weight: 500;
  color: var(--main-color);
}

#stories-dc .stories-wrapp-ct .stories-right-ct .details-stories {
  margin-top: 5rem;
  display: flex;
  gap: 4rem;
}

#stories-dc .stories-wrapp-ct .stories-right-ct .details-stories .dt-st{
  display: flex;
  align-items: center;
  gap: 1.3rem;
  cursor: pointer;
}

#stories-dc .stories-wrapp-ct .stories-right-ct .details-stories .dt-st img{
  width: 7rem;
  height: 7rem;
  padding: 0.4rem;
  object-fit: cover;
  border: 2px solid var(--second-main-color);
  border-radius: 50rem;
}

#stories-dc .stories-wrapp-ct .stories-right-ct .details-stories .dt-st .name-dt h3{
  font-size: 1.6rem;
  color: var(--main-color);
  text-transform: capitalize;
} 

#stories-dc .stories-wrapp-ct .stories-right-ct .details-stories .dt-st .name-dt span{
  font-size: 1.4rem;
  color: var(--font-color-3);
}


/* =========== booking section stylindg ============ */

#booking-help{
  padding: 5rem 15rem;
  display: flex;
  align-items: center;
  background-color: var(--second-main-color);
}

#booking-help .booking-contaner {
  padding: 7rem 3rem;
  width: 50%;
  border-radius: 2rem;
  background-color: var(--background-color);
}

#booking-help .booking-contaner h2{
  font-size: 2.5rem;
  color: var(--font-color);
  font-weight: 600;
}

#booking-help .booking-contaner p{
  font-size: 1.5rem;
  color: var(--font-color-3);
  margin-block: 2rem;
}

#booking-help .booking-contaner .option{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-block: 3rem;
}

#booking-help .booking-contaner .option  .select-wrp{
  display: inline-block;
  border: 0.2rem solid var(--second-main-color);
  border-radius: 50rem;
  padding: 1.5rem 5rem;
}

#booking-help .booking-contaner .option  .select-wrp select{
  border: none;
  font-size: 1.5rem;
  color: var(--main-color);
}

#booking-help .booking-contaner .option  .comman1{
  display: flex;
  align-items: center;
  border:0.2rem solid var(--second-main-color);
  border-radius: 50rem;
  padding: 1.5rem 2rem;
}



#booking-help .booking-contaner .option  .comman1 input{
  border: none;
  font-size: 1.5rem;
  color: var(--main-color);
  margin-left: 1.3rem;
  outline: none;
}

#booking-help .booking-contaner .option  .comman1 label i{
  font-size: 1.5rem;
  color: var(--second-main-color);
}

#booking-help .booking-contaner .option .wrap {
  display: flex;
  align-items: center;
  border:0.2rem solid var(--second-main-color);
  border-radius: 50rem;
  padding: 1.5rem 2rem;
}

#booking-help .booking-contaner .option .wrap input{
  border: none;
  font-size: 1.2rem;
  color: var(--main-color);
  margin-left: 1.3rem;
  outline: none;
}

#booking-help .booking-contaner .option  .wrap label i{
  font-size: 1.5rem;
  color: var(--second-main-color);
}

#booking-help .booking-contaner  .book-btn{
  text-align: center;
  display: block;
  background-color: var(--font-color);
  font-size: 1.5rem;
  width: 100%;
  padding-block: 1.8rem;
  transition: all 0.3s;
}

#booking-help .booking-contaner  .book-btn:hover{
  background-color: var(--second-main-color);
}

#booking-help .help-container{
  width: 50%;
  padding-left: 8rem;
}

#booking-help .help-container h2{
  font-size: 4rem;
  color: var(--font-color-2);
}

#booking-help .help-container p{
  color: var(--font-color-2);
  font-size: 1.7rem;
  margin-block: 2rem;
}

#booking-help .help-container .gift-btn{
  display: inline-block;
  margin-block: 2rem;
  font-size: 1.5rem;
  color: var(--font-color);
  background-color: var(--background-color);
  padding: 1.5rem 2.5rem;
}

#booking-help .help-container .gift-btn .fa-heart{
  margin-right: 0.8rem;
}

#booking-help .help-container hr {
  border: none;
height: 0.2rem;
background-color: var(--background-color);
}

#booking-help .help-container h3{
  color: var(--font-color-2);
  font-size: 1.5rem;
  margin-block: 3rem;
}

#booking-help .help-container h4{
  font-size: 1.5rem;
  color: var(--font-color-2);
}

#booking-help .help-container h4 span{
  font-size: 1.2rem;
}


/* =========== footer section stylindg ============ */

footer .ft-container{
  background-color: var(--font-color);
  display: flex;
  gap: 8rem;
  padding: 7rem 20rem
}

footer .ft-container .first-box .image{
  display:flex;
  align-items: center;
  gap: 1rem;
}

footer .ft-container .first-box .image img{
  width: 7rem;
}

footer .ft-container .first-box .image h2{
  font-size: 1.8rem;
  color: var(--font-color-2);
}

footer .ft-container .first-box p{
  font-size: 1.4rem;
  color: var(--font-color-2);
  margin-block: 2rem;
  line-height: 1.8;
}

footer .ft-container .first-box  a{
  color: var(--second-main-color);
  font-size: 1.6rem;
}

footer .ft-container .first-box  a i{
  margin-right: 1rem;
}

footer .ft-container .first-box  a:hover i{
  color: var(--font-color-2);
}

footer .ft-container .cm-box h3{
color: var(--font-color-2);
font-size: 1.7rem;
margin-bottom: 2.5rem;
}

footer .ft-container .cm-box h5{
  color: var(--font-color-3);
  font-size: 1.3rem;
}

footer .ft-container .fourth-box{
  background-color: var(--background-color);
  padding: 3rem;
  border-radius:1rem ;
}

footer .ft-container .fourth-box h2{
  color: var(--font-color);
}

footer .ft-container .fourth-box p{
  color: var(--font-color-3);
  font-size: 1.4rem;
  margin-block: 2rem;
}

footer .ft-container .fourth-box .phone{
  color: var(--font-color);
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.2rem;
  transition: all 0.3s;
}

footer .ft-container .fourth-box .phone:hover{
  color: var(--second-main-color);
}

footer .ft-container .fourth-box .phone i{
  margin-right: 2rem;
}

footer .ft-container .fourth-box .ft-box{
  display: flex;
  align-items: center;
  gap: 2rem;
}

footer .ft-container .fourth-box .ft-box a{
  color: var(--second-main-color);
  font-size: 1.5rem;
  /* letter-spacing: 0; */
}

footer .ft-container .fourth-box .ft-box a i{
  margin-right: 2rem;
}

footer .ft-container .fourth-box .ft-box a:hover i{
  color: var(--font-color);
}

footer .ft-container .fourth-box .ft-box .ft-media i{
  font-size: 1.2rem;
  background-color: var(--font-color);
  color: var(--font-color-2);
  padding: 0.8rem 0.9rem;
  border-radius: 50rem;
  transition: all 0.3s;
  cursor: pointer;
}

footer .ft-container .fourth-box .ft-box .ft-media i:hover{
  background-color: var(--second-main-color);
}

footer .ft-second-container{
  display: flex;
  justify-content: space-between;
  background-color: var(--background-color);
  padding: 5rem 15rem;
}

footer .ft-second-container h3{
  color: var(--font-color-3);
  font-size: 1.3rem;
  font-weight: 500;

}

footer .ft-second-container .sd-box{
 display: flex;
 gap: 5rem;
}

footer .ft-second-container .sd-box a{
  color: var(--font-color-3);
  font-size: 1.5rem;
  transition: all 0.3s;
}

footer .ft-second-container .sd-box a:hover {
 color: var(--second-main-color);
}


