* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", system-ui;
}

:root {
  --main-color: #283b6a;
  --second-main-color: #21cdc0;
  --font-color: #0e204d;
  --font-color-2: #fff7e7;
  --font-color-3: #fffaf0;
  --font-color-3: #848e9f;
  --background-color: #ffffff;
}

html {
  font-size: 62.5%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}

/* ==== btn styling ==== */
.btn {
  /* background-color: var(--main-color); */
  color: var(--font-color-2);
  /* font-size:1.7rem ; */
  font-weight: 500;
  text-transform: capitalize;
  border: none;
  /* padding:1.8rem 2.3rem ; */
  border-radius: 50rem;
  cursor: pointer;
  transition: all 0.2s linear;
}

/* ===== header styling ===== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 10rem;
  background-color: var(--main-color);
}

header .contact-header p {
  background-color: var(--background-color);
  font-size: 1.3rem;
  padding: 0rem 1.5rem;
  border-radius: 1rem;
}

header .contact-header {
  display: flex;
  gap: 2rem;
}

header .contact-header a {
  font-size: 1.2rem;
  color: var(--font-color-2);
  cursor: default;
}

header .contact-header a:hover span {
  color: var(--second-main-color);
  cursor: pointer;
}

header .contact-header a i {
  margin-right: 0.8rem;
  color: var(--font-color-3);
}

header .social-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
}
header .social-search .follow {
  display: flex;
  align-items: center;
  gap: 1rem;
}
header .social-search .follow a {
  display: flex;
  align-items: center;
  background-color: var(--second-main-color);
  border-radius: 50rem;
  padding: 0.5rem;
  transition: all 0.2s;
}

header .social-search .follow a:hover {
  transform: translateY(-0.3rem);
}
header .social-search .follow i {
  font-size: 1.4rem;
  color: var(--main-color);
  cursor: pointer;
}

header .search input {
  background-color: var(--main-color);
  border: none;
  font-size: 1.5rem;
  color: var(--font-color-2);
  padding: 0.5rem 1.5rem;
  border-left: 1px solid var(--font-color-2);
}

header .search input:focus {
  outline: none;
}

header .search .search-glass {
  font-size: 1.8rem;
  color: var(--font-color-2);
  cursor: pointer;
}

/* ====== hero section styling ====== */

/* ======  nav bar styling ====== */
#hero-section {
  background-image: url("images/hero-section-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding-bottom: 13rem;
  position: relative;
}

#hero-section .nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.8rem 10rem;
}

#hero-section .nav-wrapper .logo-hero {
  display: flex;
  align-items: center;
}

#hero-section .nav-wrapper .logo-hero img {
  width: 8rem;
}

#hero-section .nav-wrapper .logo-hero h2 {
  font-size: 1.8rem;
  margin-left: 1rem;
  color: #8686e6;
}

#hero-section .nav-wrapper .logo-hero h2 span {
  color: #03c99d;
}

#hero-section .nav-wrapper .nav-bar-list {
  display: flex;
  gap: 3rem;
}

#hero-section .nav-wrapper .nav-bar-list a {
  color: var(--font-color);
  font-size: 1.6rem;
  font-weight: 600;
  transition: all 0.2s;
}

#hero-section .nav-wrapper .nav-bar-list a:hover {
  color: var(--second-main-color);
}

#hero-section .nav-wrapper .btn.apm-btn {
  background-color: var(--second-main-color);
  padding: 1rem 2rem;
  font-size: 1.5rem;
  transition: all 0.3s linear;
}

#hero-section .nav-wrapper .btn.apm-btn i {
  margin-right: 0.8rem;
}

#hero-section .nav-wrapper .btn.apm-btn:hover {
  background-color: var(--main-color);
}

/* ====== home  styling ====== */

#hero-section .main-hero-container {
  width: 50%;
  display: flex;
  justify-content: start;
  align-items: center;
  margin: 2rem 6rem;
}

#hero-section .main-hero-container .hero-wrapper {
  padding: 4rem;
}

#hero-section .main-hero-container .hero-wrapper h1 {
  font-size: 7rem;
  font-weight: 700;
  color: var(--font-color);
}


#hero-section .main-hero-container .hero-wrapper p {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-color);
}

/* ====== helath icon styling ====== */
#hero-section .health-icon {
  width: 50%;
  display: flex;
  gap: 4rem;
  margin-left: 10rem;
  cursor: pointer;
}

#hero-section .health-icon .icon {
  text-align: center;
}

#hero-section .health-icon .icon .images {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  width: 8rem;
  height: 8rem;
  background-color: #a1dee5;
  transition: all 0.3s ease;
}
#hero-section .health-icon .icon .images:hover {
  transform: translateY(-1rem);
  border: 1px solid #4d4b4b;
}

#hero-section .health-icon .icon .images.img1 {
  margin-left: 1.3rem;
}

#hero-section .health-icon .icon .images img {
  width: 5rem;
}

#hero-section .health-icon .icon h2 {
  color: var(--main-color);
  padding-top: 1.5rem;
  font-size: 1.5rem;
  transition: all 0.3s;
}

#hero-section .health-icon .icon h2:hover {
  color: var(--font-color-3);
}

/* ====== All contact box styling ====== */

#hero-section .all-contact-box {
  display: flex;
  position: absolute;
  margin-top: 6rem;
  left: 15rem;
  right: 15rem;

}

#hero-section .all-contact-box .container {
  width: 40rem;
  display: flex;
  padding: 4rem;
}

#hero-section .all-contact-box .container:nth-child(1){
  background-color: #21cdc0;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

#hero-section .all-contact-box .container:nth-child(2){
  background-color: #3851A2;
}

#hero-section .all-contact-box .container:nth-child(3){
  background-color: #2D4990;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}



#hero-section .all-contact-box .container .left-box i {
  font-size: 5rem;
  color: var(--font-color-2);
}

#hero-section .all-contact-box .container .right-box {
  margin-left: 3rem;
}

#hero-section .all-contact-box .container .right-box h2 {
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--font-color-2);
}

#hero-section .all-contact-box .container .right-box p {
  padding-block: 1.3rem;
  font-size: 1.5rem;
  color: var(--font-color-2);
}
#hero-section .all-contact-box .container .right-box h3 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--font-color-2);
  cursor: pointer;
}

#hero-section .all-contact-box .container .right-box h3 i {
  margin-right: 0.5rem;
  background-color:#1EBAAE ;
  padding: 0.8rem;
  border-radius: 50rem;
}

#hero-section .all-contact-box .container .right-box h3 i:hover{
  color: var(--font-color-3);
}

#hero-section .all-contact-box .container .right-box .time-table{
  border-bottom: 1px solid var(--font-color-2);
}

#hero-section .all-contact-box .container .right-box .time-table p span{
  margin-left: 3rem;
}

#hero-section .btn.time-btn{
  background-color: #3851A2;
  color: var(--font-color-2);
  border: 1px solid var(--font-color-2);
  padding: 1rem 2rem;
  font-weight: 600;
}

#hero-section .btn.time-btn:hover{
  background-color: var(--background-color);
  color: var(--font-color);
}

#hero-section .btn.time-btn i{
  margin-left: 0.5rem;
}


/* ====== about section styling ====== */

#about-section{
  background-color: var(--background-color);
}

#about-section .about-wrapp{
  margin-top: 30rem;
  padding-inline: 18rem;
}

#about-section .about-wrapp h2{
  padding-left: 10rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: var(--font-color);
}

#about-section .about-wrapp .about-hospital{
  margin-top: 5rem;
  display: flex;
}

#about-section .about-wrapp .about-hospital .left-about{
  display: flex;
  width: 40%;
}

#about-section .about-wrapp .about-hospital .left-about .doctor-1{
  font-size: 5rem;
  color: var(--second-main-color);
}

#about-section .about-wrapp .about-hospital .left-about .box1{
  padding-inline: 5rem;
}

#about-section .about-wrapp .about-hospital .left-about .box1 p{
  color: var(--font-color);
  font-size:1.5rem ;
  font-weight: 500;
}

#about-section .about-wrapp .about-hospital .left-about .box1 .btn.about-btn{
  background-color: var(--font-color);
  color: var(--font-color-2);
  padding: 1.8rem 2.5rem;

}

#about-section .about-wrapp .about-hospital .left-about .box1 .btn.about-btn i{
  margin-left: 1rem;
}

#about-section .about-wrapp .about-hospital .right-about{
  width: 60%;
}

#about-section .about-wrapp .about-hospital .right-about p{
  font-size: 1.5rem;
  color: var(--main-color);
}
